*.pyc
*.pyo
*.pcap
*.pcapng
/*.txt
log/
build/
dist/

# Necessary dependency for py2exe
!win_dep/predefined.pyc

# User config file
command_files/cmds.txt

# ws_dissect executable
ws_dissector/ws_dissector

# OSX file
.DS_Store

# documentation build
docs/_build
