include README.md
include LICENSE
include setup.py
exclude setup-internal.py
recursive-include GUI * 
recursive-include examples *.json *.py *.mi2log *.mi2app *.txt
recursive-include mobile_insight *.py  *.m *.pyd README
recursive-exclude examples *.db
recursive-exclude mobile_insight *.db
exclude mobile_insight/monitor/android_qmdl_monitor.py
exclude mobile_insight/analyzer/handoff_loop_analyzer.py
prune dm_collector_c 
prune docs/docs
recursive-include ws_dissector Makefile *.cpp *.h
