include install-macos.sh
include install-ubuntu.sh
include LICENSE
include README.md
include setup.py
include wireshark.rb
exclude mobile_insight/analyzer/handoff_loop_analyzer.py
recursive-include GUI *
recursive-include examples *.json *.py *.mi2log *.mi2app *.txt
recursive-include dm_collector_c *.cpp *.h
recursive-include mobile_insight *.py *.m *.pyd README
recursive-include ws_dissector Makefile *.cpp *.h
recursive-exclude examples *.db *.pyo
recursive-exclude mobile_insight *.db *.pyo
prune docs/docs
